<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
</head>
<body>
  {% extends 'navbar.html' %}
  {% block content %}
    <h1>About us!</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit accusamus totam iste veritatis hic necessitatibus aliquid doloremque aliquam ratione consectetur in, quas, ullam reprehenderit distinctio! Corporis autem fugiat enim esse.</p>
  {% endblock %}
</body>
</html>