<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django - jinja</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
        <a href="/person">Persons</a>
        <a href="/address">Address</a>
        <a href="/about">About us</a>
        <a href="/register">Register</a>
      </li>
    </ul>
  </nav>
  <!--Here will render all the content where extends from this html document-->
  {% block content %}
  {% endblock %}
</body>
</html>